NEXT_PUBLIC_SUPABASE_URL=https://btjboljaylsiezpcdqfp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ0amJvbGpheWxzaWV6cGNkcWZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyODQwODYsImV4cCI6MjA5NDg2MDA4Nn0.rN2PQOv6h5SdukY_XwT4Y3aYULR7IqrH9qlyIba9dok
NEXT_PUBLIC_API_URL=http://localhost:8000
